In [2]:
import pandas as pd

In [3]:
us_counties_csv = "us_counties_covid19_daily.csv"

# Import us counties 
us_counties_df = pd.read_csv(us_counties_csv, encoding="utf-8")
us_counties_df.sort_values(by = 'date', ascending = False)

              date      county       state     fips  cases  deaths
800436  2020-12-05      Weston     Wyoming  56045.0    419     2.0
798269  2020-12-05    McCreary    Kentucky  21147.0    675     1.0
798279  2020-12-05      Nelson    Kentucky  21179.0   2317    12.0
798278  2020-12-05  Muhlenberg    Kentucky  21177.0   1531    24.0
798277  2020-12-05      Morgan    Kentucky  21175.0    369     0.0
...            ...         ...         ...      ...    ...     ...
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0

[800437 rows x 6 columns]

In [4]:
covid_csv = "covid_19_data.csv"

# Import covid data by country, including US data 
covid_df = pd.read_csv(covid_csv, encoding="utf-8")
covid_df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
236012,236013,02/27/2021,Zaporizhia Oblast,Ukraine,2021-02-28 05:22:20,69504.0,1132.0,65049.0
236013,236014,02/27/2021,Zeeland,Netherlands,2021-02-28 05:22:20,16480.0,178.0,0.0
236014,236015,02/27/2021,Zhejiang,Mainland China,2021-02-28 05:22:20,1321.0,1.0,1314.0
236015,236016,02/27/2021,Zhytomyr Oblast,Ukraine,2021-02-28 05:22:20,50582.0,834.0,44309.0
236016,236017,02/27/2021,Zuid-Holland,Netherlands,2021-02-28 05:22:20,255335.0,3732.0,0.0

In [5]:
us_covid_csv = "covid_19_US.csv"

# Import covid data by country, including US data 
us_covid_df = pd.read_csv(us_covid_csv, encoding="utf-8")
us_covid_df

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6071,6079,6092,6117,6121,6143,6172,6203,6228,6248
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,19324,19361,19392,19433,19461,19554,19635,19670,19698,19714
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2057,2061,2067,2070,2074,2084,2095,2099,2106,2113
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2405,2411,2414,2416,2417,2432,2437,2442,2445,2449
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6008,6021,6040,6042,6043,6058,6072,6086,6084,6095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,3307,3318,3318,3326,3331,3333,3336,3342,3348,3348
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,2021,2024,2024,2027,2030,2036,2037,2048,2054,2054
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,875,877,877,877,879,880,880,880,881,881
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,618,619,619,619,620,621,622,622,622,622

In [6]:
#California counties vaccination rates by day with demographic
ca_covid_csv = "covid19vaccinesbycountybydemographic.csv"
ca_covid_df = pd.read_csv(ca_covid_csv, encoding="utf-8")
ca_covid_df

,county,county_type,demographic_category,demographic_value,est_population,est_age_16plus_pop,administered_date,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,cumulative_unvax_total_pop,cumulative_unvax_16plus_pop,suppress_data
0,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/26/2021,276.0,12830.0,64.0,2949.0,276.0,15779.0,352091.0,25076.0,False
1,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/25/2021,361.0,12618.0,41.0,2885.0,361.0,15503.0,352367.0,25352.0,False
2,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/24/2021,738.0,12298.0,127.0,2844.0,738.0,15142.0,352728.0,25713.0,False
3,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/23/2021,814.0,11687.0,165.0,2717.0,814.0,14404.0,353466.0,26451.0,False
4,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/22/2021,708.0,11038.0,202.0,2552.0,708.0,13590.0,354280.0,27265.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133394,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/19/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133395,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/18/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133396,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/17/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133397,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/16/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133398,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False

In [24]:
#sort by administered date
ca_covid_df.sort_values(by = 'administered_date', ascending = False)
ca_covid_df

,county,county_type,demographic_category,demographic_value,est_population,est_age_16plus_pop,administered_date,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,cumulative_unvax_total_pop,cumulative_unvax_16plus_pop,suppress_data
0,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/26/2021,276.0,12830.0,64.0,2949.0,276.0,15779.0,352091.0,25076.0,False
1,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/25/2021,361.0,12618.0,41.0,2885.0,361.0,15503.0,352367.0,25352.0,False
2,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/24/2021,738.0,12298.0,127.0,2844.0,738.0,15142.0,352728.0,25713.0,False
3,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/23/2021,814.0,11687.0,165.0,2717.0,814.0,14404.0,353466.0,26451.0,False
4,Alameda,MIXED,Age Group,0-17,367870.0,40855.0,4/22/2021,708.0,11038.0,202.0,2552.0,708.0,13590.0,354280.0,27265.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133394,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/19/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133395,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/18/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133396,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/17/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133397,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/16/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False
133398,Yuba,DERIVED FROM RECIP ZIP,VEM Quartile,4,39.0,23.0,12/15/2020,0.0,0.0,0.0,0.0,0.0,0.0,39.0,23.0,False

In [33]:
ca_covid_test = ca_covid_df.groupby(['county']).mean()
ca_covid_test.head()

,est_population,est_age_16plus_pop,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,cumulative_unvax_total_pop,cumulative_unvax_16plus_pop,suppress_data
county,,,,,,,,,,,
Alameda,334372.066667,270178.000000,1091.777532,25665.690402,780.187970,30294.338788,1203.324635,55960.029191,274226.726316,210032.659649,0.000000
Alpine,260.000000,222.000000,1.527820,45.565414,1.154135,51.320301,1.535338,96.885714,359.686717,309.853383,0.411765
Amador,8804.461538,7607.846154,21.975674,779.851835,13.175144,540.255639,22.806280,1320.107475,7161.189127,5964.573742,0.000000
Butte,48568.500000,39584.500000,96.191066,2585.203892,79.511720,3592.714728,102.490933,6177.918620,41327.286788,32343.286788,0.000000
Calaveras,8877.866667,7643.266667,22.117205,624.301636,15.246793,659.306502,22.899602,1283.608138,7594.387469,6359.787469,0.000000

In [7]:
#California counties, with a breakdown of vaccine type and totals by day
ca_county_csv = "covid19vaccinesbycounty.csv"
ca_county_df = pd.read_csv(ca_county_csv, encoding='utf-8')
ca_county_df

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag
0,All CA Counties,12/15/2020,1131,1131,1131,1131,0,0,0,0,1131,1131,0,0,1131,1131,NaN
1,All CA Counties,12/16/2020,8111,9242,8111,9242,0,0,0,0,8111,9242,0,0,8111,9242,NaN
2,All CA Counties,12/17/2020,25702,34944,25702,34944,0,0,0,0,25704,34946,0,0,25704,34946,NaN
3,All CA Counties,12/18/2020,43715,78659,43660,78604,55,55,0,0,43716,78662,0,0,43716,78662,NaN
4,All CA Counties,12/19/2020,25185,103844,25162,103766,23,78,0,0,25184,103845,1,1,25184,103846,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941,Yuba,4/22/2021,294,30816,104,9288,190,19348,0,2180,157,5929,137,13508,157,19437,California
7942,Yuba,4/23/2021,304,31120,96,9384,208,19556,0,2180,151,5927,153,13661,151,19588,California
7943,Yuba,4/24/2021,167,31287,38,9422,129,19685,0,2180,89,5938,78,13739,89,19677,California
7944,Yuba,4/25/2021,58,31345,20,9442,38,19723,0,2180,31,5942,27,13766,31,19708,California
7945,Yuba,4/26/2021,125,31470,19,9461,102,19825,4,2184,61,5943,64,13830,65,19773,California

In [34]:
#remove extra counties that are not part of CA or are unknown

ca_county_df = ca_county_df[ca_county_df.county != 'All CA Counties']
ca_county_df = ca_county_df[ca_county_df.county != 'All CA and Non-CA Counties']
ca_county_df = ca_county_df[ca_county_df.county != 'Outside California']
clean_ca_county_df = ca_county_df[ca_county_df.county != 'Unknown']

clean_ca_county_df

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag
522,Alameda,12/15/2020,36,36,36,36,0,0,0,0,36,36,0,0,36,36,California
523,Alameda,12/16/2020,202,238,202,238,0,0,0,0,202,238,0,0,202,238,California
524,Alameda,12/17/2020,396,634,396,634,0,0,0,0,396,634,0,0,396,634,California
525,Alameda,12/18/2020,1766,2400,1765,2399,1,1,0,0,1766,2400,0,0,1766,2400,California
526,Alameda,12/19/2020,1357,3757,1357,3756,0,1,0,0,1357,3757,0,0,1357,3757,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7941,Yuba,4/22/2021,294,30816,104,9288,190,19348,0,2180,157,5929,137,13508,157,19437,California
7942,Yuba,4/23/2021,304,31120,96,9384,208,19556,0,2180,151,5927,153,13661,151,19588,California
7943,Yuba,4/24/2021,167,31287,38,9422,129,19685,0,2180,89,5938,78,13739,89,19677,California
7944,Yuba,4/25/2021,58,31345,20,9442,38,19723,0,2180,31,5942,27,13766,31,19708,California
7945,Yuba,4/26/2021,125,31470,19,9461,102,19825,4,2184,61,5943,64,13830,65,19773,California